usage: chpst [-xvVNP012] [-u user[:group]] [-U user[:group]] [-b argv0] [-e dir] [-/ [+]root] [-n [+|-]nice] [-l|-L lock] [-A n] [-m n] [-d n] [-o n] [-p n] [-f n] [-c n] [-r n] [-t n] prog

100
chpst:pilcrow/runit-2.1.1:2012101001
usage: chpst [-xvVNP012] [-u user[:group]] [-U user[:group]] [-b argv0] [-e dir] [-/ [+]root] [-n [+|-]nice] [-l|-L lock] [-A n] [-m n] [-d n] [-o n] [-p n] [-f n] [-c n] [-r n] [-t n] prog

100
test=1
0
0
0
0
0
0
